<pre>


     
        Tell us how you slept, exercised, studied and ate. We will provide the stats to help you track your behavior!

        The application provides functionality for summarization of responses. Each user can view statistics of their reports on a weekly and monthly level. 

        About page shows a glimpse at the data and indicates a trend!
    



    </pre>
    </div>
</body>
</html>