<li>
    <a href="/">About</a>
</li>
<li>
    <a href="/auth/registration">Register</a>
</li>
<li>
    <a href="/auth/login">Login</a>
</li>
<li>
    <a href="/behavior/reporting">Report</a>
</li>
